MSSQL_SA_PASSWORD=ChangeThis_StrongPassword123!
RABBITMQ_DEFAULT_USER=fptupgs
RABBITMQ_DEFAULT_PASS=ChangeThis_RabbitPassword123!
MINIO_ROOT_USER=fptupgs
MINIO_ROOT_PASSWORD=ChangeThis_MinIOPassword123!
GEMINI_API_KEY=
